[Desktop Entry]
Version=1.0
Name=Bittorrent tracker editor
Comment=Software for add or remove tracker from torrent files.
Exec=bittorrent-tracker-editor
Icon=${SNAP}/meta/gui/bittorrent-tracker-editor.png
Terminal=false
Type=Application
Categories=Utility;
Keywords=bittorrent;tracker;editor;
